* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: var(--bodybg);
    height: 100vh;
}

:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --accent-color: #007bff;
    --greysb: #282623;
    /* Example color, replace with actual */
    --greybge: #51504C;
    /* Example color, replace with actual */
    --greybg: #33322E;
    --bodybg: #3b3a3a;
    --playhv: #413c37;
    --font: #ffffffd9;
    --search: #322f2c;

}

.main {
    background: linear-gradient(to bottom, var(--greybg), var(--greybge));
    display: flex;
    width: 100vw;
    height: 100vh;
}

.dark-mode {
    --greybg: #88D66C;
    --greybge: #B4E380;
    --greysb: #73BBA3;
    --playhv: #96b8ad;
    --font: #1c1a1a;
    --search: #b6efde;
}

.utility {
    margin-top: 50px;
}

.dashboard {
    user-select: none;
    position: fixed;
    /* min-width: 150px; */
    width: 0;
    z-index: 200;
    height: 100vh;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--greysb);
    /* transition: max-width 0.3s ease-in; */
    transition: width 0.3s ease-in;
    border-radius: 10px;
}

.dashboard .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    font-weight: 900;
    color: rgb(203, 199, 199);
    transition: 0.3s;
}

.dashboard .closebtn:hover {
    color: white;
    scale: 1.05;
}

.openbtn {
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: bolder;
    cursor: pointer;
    color: rgb(215, 215, 215);
    padding: 0 0 0 10px;
    border: none;
    transition: 0.3s;
}

.openbtn:hover {
    color: white;
    scale: 1.05;

}

.play {
    width: 90%;
    margin: 3px auto;
    border-radius: 15px;
    height: 44px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: 'Kanit', sans-serif;
    font-weight: 800;
    color: var(--font);
    gap: 5px;

}

.play img {
    height: 33px;
    padding-left: 12%;
}

.play:hover {
    background-color: var(--playhv);
}


/* Style for the search input */
.search-input {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 40px;
    background-color: var(--search);
    border: 1px solid #655d5d;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: var(--font);

}

.search-input:hover {
    background-color: var(--playhv);

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    transition: 0.5s;
}

.overlay.active {
    display: block;
}

.options {
    width: 75%;
    height: 160px;
    position: absolute;
    bottom: 0;;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.options button {
    color: var(--font);
    height: 40px;
    font-size: medium;
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    font-weight: 700;
}

.options button:hover {
    background-color: var(--playhv);
}

.options button img {
    height: 28px;
    padding-left: 10%;
}


.stats {
    /* border: 1px solid blue; */
    width: 98%;
    height: 24%;
    margin-top: 2px;
    display: flex;

}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh;
    width: calc(100% - 170px);
    margin-left: 160px;

}


.badges {
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    height: 30px;
    width: 50%;
    font-weight: 900;
}

.badges p {
    font-family: cursive;

}

#profile {
    margin-bottom: 1px;
    font-size: 15px;
    text-decoration: none;
    color: rgb(235, 224, 208);
}

.badges img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

#profileImage {
    height: 35px;
    width: 35px;
    object-fit: cover;
}

.tools {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    height: 30px;
    width: 50%;
    font-weight: 700;

}

.tools div {
    height: 25px;
    width: 25px;
}

.progress {
    width: 70%;
    min-width: 320px;
    height: 440px;
    /* border: 3px solid burlywood; */
    position: absolute;
    top: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    color: magenta;
    overflow: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: center;
}

.promo {
    margin: 20px 10px;
    width: 240px;
    min-width: 240px;
    height: 380px;
    /* border: 2px solid rgb(255, 0, 0); */
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.stats {
    /* border: 1px solid blue; */
    width: 98%;
    height: 24%;
    margin-top: 2px;
    display: flex;

}

#eventNo {
    /* border: 1px solid powderblue; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/trophy.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    p {
        color: #495679;
        font-family: cursive;
        font-weight: 900;
        font-size: x-large;
        margin-bottom: 26px;


    }
}

#trophies {
    /* border: 1px solid powderblue; */
    height: 100%;
    width: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 900;
    font-size: x-large;

    /* margin-bottom: 26px; */
    h2 {
        font-family: cursive;

    }

    h3 {
        font-family: cursive;
    }

}

#puzzleImg {
    /* border: 1px solid powderblue; */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/puzzles.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#puzzleStat {
    p {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: cursive;
        font-weight: 800;
        font-size: large;
    }

    h3 {
        font-family: cursive;
        color: #fff;
        font-size: x-large;

    }
}

#botImg {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/ai.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#botText {
    width: 50%;
    height: 100%;
    display: inline block;
    justify-content: center;

    /* overflow: hidden; */
    /* white-space: nowrap; */
    h2 {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: cursive;
        font-weight: 800;
        font-size: large;
    }

    p {
        margin-top: 10px;
        overflow: hidden;
        white-space: normal;
        font-family: cursive;
        color: #fff;
        font-size: small;

    }
}

#reviewImg {
    /* border: 1px solid rgb(255, 255, 255); */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/review.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#reviewText {
    width: 50%;
    height: 100%;
    margin-left: 10px;
    display: inline block;
    justify-content: center;

    /* overflow: hidden; */
    /* white-space: nowrap; */
    h2 {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-family: cursive;
        font-weight: 800;
        font-size: large;
    }

    h3 {
        margin-top: 10px;
        overflow: hidden;
        white-space: normal;
        font-family: cursive;
        color: #fff;
        font-size: 15px;
        margin-top: 19px;

    }
}

.shortcuts {
    width: 100%;
    height: 240px;
    border-radius: 9px;
    border: 1px solid turquoise;
    /* margin-bottom: 40px; */
}

.tag {
    width: 100%;
    height: 44px;
    /* border: 1px solid pink; */
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 3px 2px #C7C6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(38, 33, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: large;

}

.shorts {
    width: 100%;
    height: 75%;
    /* border: 2px solid rgb(24, 223, 20); */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 22px;
    align-items: center;

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }



}

.utils {
    /* border: 2px solid rgb(24, 223, 20); */

    width: 12em;
    height: 3em;
    text-decoration: none;
    /* margin:22px 0 0 0; */
    background-color: #fff;
    box-shadow: 0px 3px 2px #C7C6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(38, 33, 33);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: large;
    border-radius: 3px;
    /* position: absolute;   */


}